.grid {
  margin: auto;
  width: 98%;
  height: 600px;
}
.right {
    position: absolute;
    right: 0px;
    padding: 10px;
}

.btn_right{
    float: right;
    margin-right:20px;
}

.gray { color: black;  background-color:#006666 !important;text-align: center; }

.blue { color: blue;}

.col_center{
	text-align: center; 
	background-color: #669999;
	color: black;
}

.ui-grid-menu-button {
  height: 31px;
  
}